# Virtual environment
venv/
ENV/
env/

# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Editor and system files
.idea/
.vscode
.DS_Store
*.log

# Local database (just in case of local testing)
*.sqlite3
*.db